.box{
    background-color: yellow;
    width: 270px;
    height: 320px;
    display: block;
    margin-left: 20px;
}

.box1{
    background-image: url('/images/bond\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box2{
    background-image: url('/images/transformers\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box3{
    background-image: url('/images/once\ upon\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box4{
    background-image: url('/images/batman\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box5{
    background-image: url('/images/zombieland\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box6{
    background-image: url('/images/rush\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box7{
    background-image: url('/images/warcraft\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box8{
    background-image: url('/images/toy\ story\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box9{
    background-image: url('/images/guardians\ vertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}