.intro-text{
    // background-color: red;
    margin-top: 150px;
    padding: 20px;
    outline: 10px solid $gray;

    .intro-logo{
        margin-right: 6px;
        display: inline;
        font-size: 1.9rem;
    }

    .intro1, .intro2{
        font-size: 1.6rem;
        line-height: 1.4;
        word-spacing: 5px;
    }

    .intro1{
        display: inline;
    }

    .intro2{
        margin-top: 10px;
    }

    @media (max-width: 720px){
       
        margin-top: 60px;
        outline: 3px solid $gray;
        
        .intro-logo, .intro1, .intro2{
            font-size: 1.3rem;
            word-spacing: normal;
        }
    }
}